ul {
  display: flex;
  justify-content: flex-start;
}

li {
  display: inline-block;
  margin: 10px 10px;
}

main {
  margin: 10px 10px;
}

footer {
  display: inline-block;
  margin: 10px 10px;
}

.collection {
  display: flex;
  flex-wrap: wrap;
}

.navbar .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movieCard {
  display: inline-block;
}

.recommendations {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
}
