$primary--color: rgba(245, 245, 245, 0.845);
$bg--color: rgb(44, 2, 18);
$btn--primary: rgba(175, 26, 26, 0.644);

@mixin rwd_button {
  padding: 0.5em 1.5em;
  font-size: 1.5em;
  border-radius: 8px;
  margin: 7px 10px;
  box-shadow: 0 8px 6px -6px rgb(31, 27, 27);
}

@mixin flex_center($justify) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
}

@mixin grid_center {
  display: grid;
  place-items: center;
}

// base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

img {
  border: 0;
  max-width: 100%;
}

//utils
h1 {
  font-size: 2.6em;
  line-height: 2.45em;
}
h2 {
  font-size: 2.1em;
  line-height: 1.9em;
}
h3 {
  font-size: 1.8em;
  line-height: 1.65em;
}
h4 {
  font-size: 1.65em;
  line-height: 1.4em;
}
h5 {
  font-size: 1.4em;
  line-height: 1.25em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  color: $primary--color;
  min-height: 90vh;
  background-color: $bg--color;
}

button {
  color: $primary--color;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7em 1.5em;
  font-size: 2em;
  border-radius: 8px;
  background-color: $btn--primary;
  margin: 20px 20px;
  box-shadow: 0 8px 6px -6px rgb(31, 27, 27);
  &:hover {
    filter: brightness(90%);
  }
}

input {
  width: 220px;
  border: none;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(215, 215, 224, 0.678);
  outline: none;
  background: none;
  color: #bbb;
  font-size: 18px;
}

// customs
.navbar {
  background-color: rgb(59, 31, 15);
  color: $primary--color;
  width: 100%;
  .flex {
    @include flex_center(space-between);
    align-items: center;
    h1 {
      white-space: nowrap;
    }
    .hamburger {
      display: none;
      cursor: pointer;
    }
    .logo {
      display: flex;
      justify-content: flex-start;
      padding: 0 20px;
      flex: 0 30%;
      // 30%
      span {
        @include grid_center();
      }
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: wrap;
      padding: 0 20px;
      float: right;
    }
    li {
      text-align: center;
      display: inline-block;
      margin: 10px 10px;
    }
    a {
      display: inline-block;
      font-size: 1.5em;
      font-weight: bold;
      color: $primary--color;
      padding: 4px 7px;
      border-radius: 5px;
      text-transform: uppercase;
      transition: all 0.15s ease-in-out;
      &:hover {
        transform: scale(1.02);
        background-color: rgba(231, 193, 123, 0.63);
      }
    }
  }
}

footer {
  background-color: rgb(39, 16, 3);
  color: $primary--color;
  height: 100%;
  width: 100%;
  .flex {
    @include flex_center(center);
    align-items: center;
    .box {
      margin: 25px auto;
      padding: 0 20px;
    }
    .intro {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .repos {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      a {
        font-size: 1.8em;
      }
    }
    .tmdblogo {
      width: 166px;
      height: 120px;
    }
    .links {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        color: #ccc;
      }
    }
    .icons {
      display: flex;
      justify-content: space-between;
    }
  }
  a {
    color: $primary--color;
    .tmdblogo {
      height: 120px;
    }
  }
}

.home {
  .hero1 {
    background: linear-gradient(
        to right bottom,
        rgba(243, 227, 233, 0.315),
        rgba(44, 2, 18, 0.863)
      ),
      url(./hero1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    div {
      height: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: space-around;
      margin-top: 15px;
      div {
        display: grid;
        place-items: center;
      }
    }
  }
}

.discover {
  max-width: 1200px;
  margin: 0 auto;
}

.collection {
  text-align: center;
  h2 {
    max-width: 1200px;
    display: inline-block;
    width: 55vw;
    color: rgba(245, 212, 27, 0.753);
    position: relative;
    border-bottom: 3px solid rgba(254, 255, 240, 0.671);
    margin: 10px 0;
  }
}

.movie_rows {
  @include flex_center(center);
  text-align: center;
  .movie_card {
    margin: 10px 15px;
    max-width: 173px;
    max-height: 264px;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.3s ease-out;
    cursor: pointer;
    &:hover {
      transform: translateY(-2px);
      &::before {
        opacity: 1;
        // make the link still clickable
        pointer-events: none;
      }
      .status {
        pointer-events: none;
        opacity: 1;
      }
      .info {
        pointer-events: none;
        opacity: 1;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(black, 0.65);
      z-index: 2;
      transition: 0.5s;
      opacity: 0;
    }
    .button_img {
      button {
        padding: 0;
        background: none;
        margin: 0;
        img {
          display: block;
          max-width: 173px;
          max-height: 264px;
        }
      }
    }
    .status {
      position: absolute;
      top: 12px;
      right: 12px;
      opacity: 0;
      z-index: 3;
      // color: rgb(62, 163, 107);
    }
    .info {
      width: 170px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      z-index: 3;
      h5 {
        display: inline-block;
        padding: 2px 5px;
        border-radius: 5px;
        &.high {
          background-color: rgb(248, 33, 33);
        }
        &.decent {
          background-color: rgb(250, 165, 6);
        }
        &.mid {
          background-color: rgb(207, 204, 5);
        }
        &.low {
          background-color: rgb(73, 119, 21);
        }
      }
      span {
        display: block;
        font-size: 120%;
      }
    }
  }
}

.form_container {
  h1 {
    border-bottom: 5px solid rgba(132, 29, 146, 0.705);
  }
  .auth_form {
    margin: 25px 0;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    div {
      width: 260px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    h5 {
      color: rgba(240, 230, 140, 0.904);
      margin: 5px 0;
    }
  }
}

.search_form {
  display: flex;
  place-items: center;
  justify-content: center;
  button {
    margin: 30px 10px;
    padding: 5px 10px;
  }
}

.result_rows {
  h2 {
    display: none;
  }
}

.modal_content {
  color: $primary--color;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.567);
  .modal_text {
    border: 20px solid transparent;
    border-radius: 5px;
    h1 {
      text-align: center;
      line-height: 1em;
      margin: 15px 0 3px 0;
    }
    h5 {
      text-align: center;
      line-height: 1em;
      margin: 2px 0 15px 0;
    }
  }
  .modal_buttons {
    @include flex_center(center);
  }
}

.myList {
  .filter_buttons {
    @include flex_center(center);
  }
  .myList_rows {
    @include flex_center(center);
    .collection {
      h2 {
        display: none;
      }
    }
  }
  .noList {
    text-align: center;
    min-height: 90vh;
    @include grid_center();
  }
}

.recommendations {
  background-color: rgba(0, 0, 0, 0.267);
  h2 {
    text-align: center;
  }
}

.item_center {
  min-height: 90vh;
  @include grid_center();
  text-align: center;
}

.loading {
  min-height: 100vh;
  @include grid_center();
  background-color: $bg--color;
  img {
    width: 100px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(44, 2, 18);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    rgba(243, 230, 234, 0.182),
    rgba(241, 100, 147, 0.658)
  );
  border-radius: 4px;
}

// media-queries
@media screen and (max-width: 577px) {
  .navbar {
    .flex {
      justify-content: center;
      .logo {
        padding: 0 5px;
      }
      ul {
        display: none;
        flex-direction: column;
        flex: 0 20%;
      }
      .hamburger {
        display: block;
        padding: 0 10px;
        flex: 0 52%;
        & > * {
          float: right;
        }
      }
      .navExpand {
        display: flex;
      }
    }
  }

  .movie_rows {
    .movie_card {
      margin: 3px 5px;
      max-width: 95px;
      max-height: 155px;
      .info {
        width: 95px;
      }
      .button_img {
        button {
          img {
            max-width: 95px;
            max-height: 155px;
          }
        }
      }
      .status {
        padding: 2px 2px;
        top: 0;
        right: 0;
        background-color: rgba(44, 37, 37, 0.692);
        opacity: 1;
      }
    }
  }

  .collection {
    h2 {
      width: 90vw;
    }
    button {
      @include rwd_button();
    }
  }

  .myList,
  .modal_content {
    button {
      @include rwd_button();
    }
  }
}

// concrete, animated buttons
